*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root{
    --color-uno: #20262E;
    --color-dos: #913175;
    --color-tres: #CD5888;
    --color-cuatro: #E9E8E8;
}

header {
    display: flex;
    background-color: var(--color-uno);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    /* height: 20vh; */
    position: relative;
}

header img {
    width: 25vh;
    padding: 1rem;
}

.nav-item{
    display: flex;
    width: 6rem;
    margin: 0.3rem;
    background-color: var(--color-dos);   
    align-items: center;
    text-align: center;
    justify-content: center;

}

.nav-link{
    color: var(--color-cuatro);
}

.nav-item:hover{
    background-color: var(--color-cuatro);
    color: var(--color-tres);
}

body {
    background-color: var(--color-cuatro) !important;
}

.row{
    padding: 1rem;
}

label{
    padding:0.5rem;
}

.section-h1{
    background-color: #42445f;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    color:#913175 !important;
}

.button-h1-left{
    display: flex;
    justify-content: start;
}
.button-h1-right{
    display: flex;
    justify-content: end;
}

.card-img-top{
    height: 200px;
}

.card-title{
    display: flex;
    justify-content: center;
}

.card-text{
    display: flex;
    justify-content: center;
}

.card-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#event-details{
    background-color: var(--color-tres);
    border: 1px solid var(--color-uno);
    margin: 2rem;
}


.img-events-details{
    border: 1px solid var(--color-uno);
    background-color: var(--color-cuatro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-details{
    height: 50vh;
    width: 70vh;
}
.card-event-text{
    border: 1px solid var(--color-uno);
    background-color: var(--color-cuatro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-form {
    margin: 1rem;
    background-color: var(--color-tres);
    border-radius: 3%;
}

.form-label{
    color:var(--color-uno);
    padding:0;
}

.form-button{
    display: flex;
    justify-content: end;
}

table{
    background-color: var(--color-tres);
    border: 2px solid var(--color-uno);
    margin-bottom: 0 !important;
}

#table{
    margin-top: 1rem ;
    margin-bottom: 1rem;
}

footer{
    background-color: var(--color-tres);
}